<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns="">
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
	</appSettings>
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
      
  <add name="LocalSqlServer" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerCont;Persist Security Info=True;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
  <add name="ApplicationServices" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerCont;Persist Security Info=True;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
  <add name="gerCadastrosConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerCadastros;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
  <add name="DW_Condor_One_ConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=DW_Condor_One;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
  
  -->
	<system.web>
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<customErrors mode="Off" />
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.6">
			<assemblies>
				<add assembly="DevExpress.Web.ASPxPivotGrid.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.PivotGrid.v18.2.Core, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="DevExpress.Data.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraCharts.v18.2.Web, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraCharts.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Charts.v18.2.Core, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Utils.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraEditors.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Printing.v18.2.Core, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="DevExpress.XtraPivotGrid.v18.2, Version=18.2.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.XtraReports.v18.2, Version=18.2.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v18.2.Core, Version=18.2.6.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="DevExpress.XtraPrinting.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraReports.v18.2.Web, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraReports.v18.2.Web.WebForms, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.Resources.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.Web.ASPxScheduler.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="DevExpress.XtraScheduler.v18.2.Core, Version=18.2.6.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="DevExpress.Web.ASPxThemes.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />				
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<httpHandlers>
			<add path="DX.ashx" verb="GET,POST" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
			<add validate="false" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add validate="false" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add validate="false" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add validate="false" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXDD.axd" validate="false" />
		</httpHandlers>
	</system.web>
  
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ChartImageHandler" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
			<add name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add name="ASPxChartDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXDD.axd" name="WebDashboardHandler" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
	<connectionStrings>
		<remove name="LocalSqlServer" />
		
    <add name="LocalSqlServer" connectionString="Data Source=HP;Initial Catalog=gerCont;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=HP;Initial Catalog=gerCont;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="gerCadastrosConnectionString" connectionString="Data Source=HP;Initial Catalog=gerCadastros;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DW_Condor_One_ConnectionString" connectionString="Data Source=HP;Initial Catalog=DW_Condor_One;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DWConnectionString" connectionString="Data Source=HP;Initial Catalog=DW;Integrated Security=True" providerName="System.Data.SqlClient" />
 		<add name="gerBIConnectionString" connectionString="Data Source=HP;Initial Catalog=gerBI;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="gerVendasConnectionString" connectionString="Data Source=HP;Initial Catalog=gerVendas;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="gerTran_VendasConnectionString" connectionString="Data Source=HP;Initial Catalog=gerTran_Vendas_R;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="gerPerdasConnectionString" connectionString="Data Source=HP;Initial Catalog=gerPerdas;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="gerMetasConnectionString" connectionString="Data Source=HP;Initial Catalog=gerMetas;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="gerCheckListConnectionString" connectionString="Data Source=HP;Initial Catalog=gerCheckList;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="DW_VendasConnectionString" connectionString="Data Source=HP;Initial Catalog=DW_Vendas;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SQL14_gerProjetosConnectionString" connectionString="Data Source=HP;Initial Catalog=gerProjetos;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="gerOrcamentoConnectionString" connectionString="Data Source=HP;Initial Catalog=gerOrcamento;Integrated Security=True" providerName="System.Data.SqlClient" />
    

		<!--<add name="LocalSqlServer" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerCont;Persist Security Info=True;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="ApplicationServices" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerCont;Persist Security Info=True;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="gerCadastrosConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerCadastros;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="DW_Condor_One_ConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=DW_Condor_One;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
    <add name="DWConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=DW;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
 		<add name="gerBIConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerBI;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="gerVendasConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerVendas;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="gerTran_VendasConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerTran_Vendas_R;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="gerPerdasConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerPerdas;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="gerMetasConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerMetas;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="gerCheckListConnectionString" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerCheckList;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
		<add name="DW_VendasConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=DW_Vendas;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
    <add name="SQL14_gerProjetosConnectionString" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerProjetos;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
    <add name="gerOrcamentoConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerOrcamento;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient"/>
    
    -->

    
		<add name="gerContConn2008" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerCont;Persist Security Info=True;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerContCalend" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerCont;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerManagerConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerManager;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerSisFinConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerSisFin;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerInvConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerInv;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerTempConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerTemp;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerAgendasConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerAgendas;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="conn_relReuniao" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerContSQL1;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerContSQL1ConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerContSQL1;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerVendaItemConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerVendaItem;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerVendaItemMesConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerVendaItemMes;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerVendaItemAnoConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerVendaItemAno;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerKnowledgeConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerKnowledge;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />		
		<add name="tempdbConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=tempdb;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerProjetosConnectionString" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerProjetos;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerDespesasConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerDespesas;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerConcorConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerConcor;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="ImagesDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\\gerencial\App_Data\ImagesDB.accdb" />
		<add name="gerVendaFornecedoresConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerVendaFornecedores;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TNwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
		<add name="gerTesourariaConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerTesouraria;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="SQL18_gerTran_SLV_ConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerTran_SLV;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerMarketingConnectionString" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerMarketing;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerRPMConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerRPM;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="ConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TNwind_old.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
		<add name="gerVendaFornecedoresSLVConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerVendaFornecedoresSLV;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerContasReceberConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerContasReceber;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerEstoqueConnectionString" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerEstoque;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="SQL14_gerCadastrosConnectionString" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerCadastros;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="VendasConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=Vendas;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="bd14_gerTempConnectionString2" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerTemp;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		
		<add name="SQL14_gerTran_VendasConnectionString" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerTran_Vendas;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="CondorDWConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=CondorDW;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="ger14_ContasReceberConnectionString2" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerContasReceber;Persist Security Info=True;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerProjetos_Entities" connectionString="metadata=res://*/App_Code.Database_gerProjetos.csdl|res://*/App_Code.Database_gerProjetos.ssdl|res://*/App_Code.Database_gerProjetos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CONTROLADORIA2\SQLCONTRO;initial catalog=gerProjetos;user id=sa;password=rd700@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="gerOrcamentoEntities" connectionString="metadata=res://*/App_Code.Model_gerOrcamento.csdl|res://*/App_Code.Model_gerOrcamento.ssdl|res://*/App_Code.Model_gerOrcamento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-DJITT2B93NO;initial catalog=gerOrcamento;user id=sa;password=rd700@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="VendasEntities" connectionString="metadata=res://*/App_Code.Vendas_Model.csdl|res://*/App_Code.Vendas_Model.ssdl|res://*/App_Code.Vendas_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-DJITT2B93NO;initial catalog=Vendas;user id=sa;password=rd700@1;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Vendas_Entities" connectionString="metadata=res://*/App_Code.Vendas_EntityModel.csdl|res://*/App_Code.Vendas_EntityModel.ssdl|res://*/App_Code.Vendas_EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-DJITT2B93NO;initial catalog=Vendas;user id=sa;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="gerContasReceberEntities" connectionString="metadata=res://*/App_Code.ContasReceber.csdl|res://*/App_Code.ContasReceber.ssdl|res://*/App_Code.ContasReceber.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CONTROLADORIA2\SQLCONTRO;initial catalog=gerContasReceber;user id=sa;password=rd700@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="gerContasReceberConnectionString2" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerContasReceber;User ID=sa;Password=rd700@1;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
		
		<add name="TNwind_Connection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\TNwind.mdb" providerName="System.Data.OleDb" />
		<add name="SQL14_gerManagerConnectionString" connectionString="Data Source=CONTROLADORIA2\SQLCONTRO;Initial Catalog=gerManager;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="testeConnectionString" connectionString="Data Source=WIN-IIT3RDJ7MEV;Initial Catalog=teste;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="gerPostoConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerPosto;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
		<add name="nwindConnection" connectionString="XpoProvider=MSAccess; Provider=Microsoft.Jet.OLEDB.4.0; Data Source=|DataDirectory|\nwind.mdb;" />
		<add name="Externo_gerContConnectionString" connectionString="Data Source=HP;Initial Catalog=gerCont;Integrated Security=True" providerName="System.Data.SqlClient" />

    <add name="gerStageConnectionString" connectionString="Data Source=WIN-DJITT2B93NO;Initial Catalog=gerStage;User ID=sa;Password=rd700@1" providerName="System.Data.SqlClient" />
    
	</connectionStrings>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false" />
		<settings rightToLeft="false" accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
		<errors callbackErrorRedirectUrl="" />
		<resources>
			<add type="ThirdParty" />
			<add type="DevExtreme" />
		</resources>
	</devExpress>
  
</configuration>
